{% extends 'base.html' %}

{% block head %}
<title>Uas Penambangan Data</title>
{% endblock %}

{% block body %}

		<div class="wrapper">
			<div class="inner">
				<form action="" method="POST">
					<h3>Prediksi Status Kredit</h3>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
					<label class="form-group">
						<input type="text" class="form-control"  required>
						<span>Nama Label</span>
						<span class="border"></span>
					</label>
					<label class="form-group">
						<input type="text" class="form-control"  required>
						<span for="">Nama Label</span>
						<span class="border"></span>
					</label>
					<label class="form-group" >
						<textarea name="" id="" class="form-control" required></textarea>
						<span for="">Nama Label</span>
						<span class="border"></span>
					</label>
					<button>Prediksi 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
{% endblock %}